# Added GitHub Actions CI to run `npm test` on push and PR
on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4

      with:
        node-version: v24.7.0

    - run: npm install
    - run: npm test